asgiref==3.6.0
beautifulsoup4==4.12.2
crispy-bootstrap4==2022.1
Django==4.2.1
django-bootstrap-v5==1.0.11
django-crispy-forms==2.0
djangorestframework==3.14.0
greenlet==2.0.2
pytz==2023.3
soupsieve==2.4.1
SQLAlchemy==2.0.14
sqlparse==0.4.4
typing_extensions==4.5.0
tzdata==2023.3
