.create-block {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
    margin: 50px auto auto;
    padding: 10px;
    text-align: left;
    border: 3px solid white;
    background: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
}

.create-block i {
    position: relative;
    top: 50%;
    transform: translate(20%, 120%);
    width: 40px;
    height: 40px;
    background: #a5414b;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #f1f1f1;
    z-index: 5;
}

.form-container {
    background-color: #f2f2f2;
    padding: 20px;
}

input[type=text], textarea {
    width: 100%;
    font-size: 18px;
    padding: 15px 20px 15px 60px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: "Open Sans", "Raleway", sans-serif;
}

/* Clear floats after the form */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}