{% extends 'base_mainpage.html' %}

{% block head %}
    <title>Edit profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profiles/edit_profile.css' %}">

{% endblock %}


{% block content %}
    <div class="register-form">
        <form method="post">{% csrf_token %}
            <div class="form-container">

                <div class="form-element">
                    <input name="first_name" placeholder="First Name" required="false"
                           autofocus value={{ form.initial.first_name }}>
                    <label style="margin-left: -100%" id="my" class="fa fa-user" for="email"></label>
                </div>

                <div class="form-element">
                    <input name="last_name" placeholder="Last Name" required="false"
                           autofocus value={{ form.initial.last_name }}>
                    <label style="margin-left: -100%" id="my" class="fa fa-user" for="email"></label>
                </div>
                <div class="form-element">
                    <input name="email" placeholder="Email address" required="false"
                           autofocus value={{ form.initial.email }}>
                    <label style="margin-left: -100%" id="my" class="fa fa-at" for="email"></label>

                </div>

                <div class="form-element">
                    <input name="phone" placeholder="Phone" required="false"
                           autofocus value={{ form.initial.phone }}>
                    <label style="margin-left: -100%" id="my" class="fa fa-phone" for="email"></label>
                </div>

                <div class="form-element">
                    <input name="bio" placeholder="Bio" required="false"
                           autofocus value={{ form.initial.bio }}>
                    <label style="margin-left: -100%" id="my" class="fa fa-info" for="email"></label>
                </div>

                {% for field in form %}
                    <p>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                {% endfor %}

                {% if form.non_field_errors %}
                    <div style="color: red">
                        <p>{{ form.non_field_errors }}</p>
                    </div>
                {% endif %}

{#                <button type="submit">Save</button>#}

                <div class="form-element ">
                    <p>
                        <button type="submit" class="button-1" id="register-button">Save</button>
                    </p>
                </div>

            </div>
        </form>
    </div>

{% endblock %}
