{% extends 'base_mainpage.html' %}

{% block head %}
    <title>Edit password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profiles/edit_profile.css' %}">

{% endblock %}
{% block content %}
    <div>
        <form id="id_password_change_form" method="POST">{% csrf_token %}
            <h1 style="color: white">Change password</h1>
            <div class="form-container">
                <div class="form-element">
                    <input name="old_password" placeholder="Old password" type="password" id="id_old_password"
                           required="true">
                </div>
                <div class="form-element">
                    <input name="new_password1" placeholder="New password" type="password" id="id_new_password1"
                           required="true">
                </div>
                <div class="form-element">
                    <input name="new_password2" placeholder="Confirm password" type="password" id="id_new_password2"
                           required="true">
                </div>
                <div class="form-element ">
                    <p>
                        <button id="id_submit_btn" type="submit" class="button-1">Update</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div>
        <br><br><br><br><br><br><br><br><br>
        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: #fffb00; font-size: x-large">{{ error }}</p>
            {% endfor %}
        {% endfor %}

    </div>

{% endblock %}
