{% extends 'base_mainpage.html' %}

{% block head %}
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profiles/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="user-info">
            <p-label>Username:</p-label>
            <p-text> @{{ username }}</p-text>

            <p-label>Name:</p-label>
            <p-text>{{ first_name }} {{ last_name }}</p-text>

            <p-label>Email:</p-label>
            <p-text>{{ email }}</p-text>

            <p-label>Telephone:</p-label>
            <p-text>{{ phone }}</p-text>

            <p-label>Bio:</p-label>
            <p-text>{{ bio }}</p-text>

            <p-label>Is logged in:</p-label>
            {% if is_logged_in %}
                <p-text>Yes</p-text> {% else %}
                <p-text>No</p-text> {% endif %}
            {% if is_self %}
                <button class="button-1 profile">
                    <a href="{% url 'profile:edit' username=request.user.username %}">Update information</a>
                </button>

                <button class="button-1 profile">
                    <a href="{% url 'password_change' %}">Change password</a>
                </button>
            {% elif is_friend %}
                <h2>You are friends!</h2>
                <button class="button-1 profile">
                    <a href="{% url 'profile:remove_friend' username=username %}">Remove friend</a>
                </button>
            {% elif status_request == 2 %}
                <h2>You have a friend request!</h2>
                <button class="button-1 profile">
                    <a href="{% url 'profile:add_friend' username=username %}">Accept friend request</a>
                </button>
            {% elif status_request == 1 %}
                <h2>You sent a friend request!</h2>
            {% else %}
                <h2>You are not friends!</h2>
                <button class="button-1 profile">
                    <a href="{% url 'profile:add_friend' username=username %}">Send friend request</a>
                </button>
            {% endif %}
        </div>
        {% if is_self %}
            <button class= "button-1 posts">
                <a href="/posts/">Show my posts</a>
            </button>
            <button-1 class="button-1 posts">
                <a href="{% url 'create_post' %}">Create new post</a>
            </button-1>
        {% endif %}


    </div>

{% endblock %}

</body>
