{% load static %}
<link rel="stylesheet" href="{% static 'login/login.css' %}">

<div class="login-form">
    <div class="form-header">
        <p>
            <button class="button2 button2_hover" id="register-button">Register</button>
        </p>
        <div class="title">Login</div>
    </div>
    <div class="form-container">

        <div class="form-element">
            <label class="fa fa-user" for="login-username"></label>
            <input type="text" id="login-username" placeholder="Username">
        </div>

        <div class="form-element">
            <label class="fa fa-key" for="login-password"></label>
            <input type="password" id="login-password" placeholder="Password">
        </div>

        <div class="form-element">
            <p>
                <button class="button button2_hover" id="login-button">Login</button>
            </p>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const loginButton = document.getElementById('login-button');

    loginButton.addEventListener('click', function (event) {

        event.preventDefault();

        const username = document.getElementById('login-username').value;
        const password = document.getElementById('login-password').value;

        {#$.post('', {username: username, password: password})#}


        {% comment %} SECOND METHOD {% endcomment %}
        fetch('', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({
                username: username,
                password: password
            })
        }).then((response) => {
            console.log(response)
            if (response.ok) {
                window.location.href = '/home'
                return response.json();
            } else {
                throw new Error('Network response was not ok');
            }
        })
            .catch((error) => {
                console.error('Error:', error);
            });

    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const registerButton = document.getElementById('register-button');
    registerButton.addEventListener('click', function (event) {
        event.preventDefault();
        window.location.href = '/register'
    });
</script>