.button2 .like-button {
    position: absolute;
    margin-left: 65px;
    margin-top: 80px;
    width: 5%;
    height: 40px;
    border-radius: 30px;
    background: #a5414b;
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    font-family: "Open Sans", "Raleway", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    float: right;
}