{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    {% block head %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<center>
    <div class="col">
        <a href="{% url 'chats' %}">
            <div class="col"><h2 style="padding-left: 16px;">Chat</h2></div>
        </a>
        <a href="{% url 'search_chats' %}">Search</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    <div class="wrapper" style="width: 400px">
        <h2 style="margin: 16px 0px">My Friends</h2>
        <ul class="list-group">
            {% for friend in friends %}
                <a href="/chats/{{ friend.username }}">
                    <li class="list-group-item list-group-item-action">
                        <div class="col">
                            <div class="row">
                            </div>
                            <div class="col">
                                <p>{{ friend.first_name }} {{ friend.last_name }}</p>
                            </div>
                        </div>
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>


    <div class="main">
        {% block content %}
            <div style="margin-top: 40vh; text-align: center">
                <h2>Select a chat & start messaging!</h2>
            </div>
        {% endblock %}
    </div>

</center>

</body>
</html>