<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainpage/home.css' %}">
    {#    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>#}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
<div class="wrapper-main">
    <div class="side-bar">
        <div class="logo">
            <a href="/home">
                <img src="{% static 'mainpage/logo.png' %}" class="Logo" alt="logo">
            </a>
        </div>

        <a class="LeftMenu__itemLink" href="{% url 'profile:view' username=request.user.username %}"
           onclick="load_home()">
            <div class="LeftMenu__icon">
                <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                </svg>
            </div>
            <span class="LeftMenu__itemLabel LeftMenu__button"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">My profile</font></font></span>
            <span class="left_count_wrap fl_r left_void"><span class="inl_bl"><font
                    style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">0</font></font></span></span>
        </a>

        <a class="LeftMenu__itemLink" href="/news">
            <div class="LeftMenu__icon">
                <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                </svg>
            </div>
            <span class="LeftMenu__itemLabel LeftMenu__button"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">News</font></font></span>
            <span class="left_count_wrap fl_r left_void"><span class="inl_bl"><font
                    style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">0</font></font></span></span>
        </a>

        <a class="LeftMenu__itemLink" href="/chats">
            <div class="LeftMenu__icon">
                <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                </svg>
            </div>
            <span class="LeftMenu__itemLabel LeftMenu__button"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Messages</font></font></span>
            <span class="left_count_wrap fl_r left_void"><span class="inl_bl"><font
                    style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">0</font></font></span></span>
        </a>

        <a class="LeftMenu__itemLink" href="{% url 'friends' %}">
            <div class="LeftMenu__icon">
                <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                </svg>
            </div>
            <span class="LeftMenu__itemLabel LeftMenu__button"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">friends</font></font></span>
            <object type="internal/link"><a href="/friends?section=requests"
                                            class="left_count_wrap fl_r left_void"><span
                    class="inl_bl">0</span></a></object>
        </a>

        <a class="LeftMenu__itemLink" href="{% url 'friend_requests' %}">
            <div class="LeftMenu__icon">
                <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                </svg>
            </div>
            <span class="LeftMenu__itemLabel LeftMenu__button"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">requests</font></font></span>
            <object type="internal/link"><a href="/friends?section=requests"
                                            class="left_count_wrap fl_r left_void"><span
                    class="inl_bl">0</span></a></object>
        </a>

        <a class="LeftMenu__itemLink" href="{% url 'search' %}">
            <div class="LeftMenu__icon">
                <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                </svg>
            </div>
            <span class="LeftMenu__itemLabel LeftMenu__button"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">Search</font></font></span>
            <object type="internal/link"><a href="/friends?section=requests"
                                            class="left_count_wrap fl_r left_void"><span
                    class="inl_bl">0</span></a></object>
        </a>

        <a class="LeftMenu__itemLink" href="/logout">
            <div class="LeftMenu__icon">
                <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                </svg>
            </div>
            <span class="LeftMenu__itemLabel LeftMenu__button"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">logout</font></font></span>
            <object type="internal/link"><a href="/friends?section=requests"
                                            class="left_count_wrap fl_r left_void"><span
                    class="inl_bl">0</span></a></object>
        </a>

    </div>

    <div class="main-panel" id="main-panel">
        {% block content %}
        {% endblock %}

    </div>

    <div class="friends-panel" id="friends-panel">
        <div class="friends-panel-header">
            <h1>Friends</h1>
        </div>
        <iframe src="{% url 'friends_bar' %}" width="100%" height="100%"></iframe>
    </div>
</div>
</body>
</html>