<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change your password</title>
</head>
<body>
<form id="id_password_change_form" method="POST">{% csrf_token %}
    <h1>Change password</h1>
    <input name="old_password" placeholder="Old password" type="password" id="id_old_password" required="true">
    <input name="new_password1" placeholder="New password" type="password" id="id_new_password1" required="true">
    <input name="new_password2" placeholder="Confirm password" type="password" id="id_new_password2" required="true">

    {% for field in form %}
        {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}

    <button id="id_submit_btn" type="submit">Update</button>
</form>
</body>
</html>