{% extends 'base_mainpage.html' %}

{% block head %}
    <title>Friends</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainpage/friends.css' %}">
{% endblock %}

{% block content %}
    {% for friend in friends %}
        <div class="field">
            <a style="color: white; font-size: x-large" href="/profile/{{ friend.username }}">@{{ friend.username }}</a>
            <p class="field">{{ friend }}</p>
            {{ friend.email }}
        </div>
    {% endfor %}
{% endblock %}