<!DOCTYPE html>
{% extends 'base_mainpage.html' %}

{% block head %}
    <title>Create post</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'posts/create.css' %}">
    <link rel="stylesheet" href="{% static 'posts/buttons.css' %}">
{% endblock %}



{% block content %}
    <div class="create-block">
        <i class="fa fa-envelope"></i>
        <textarea class="post-content" id="post-content" rows="10" placeholder="Write your awsome post here"></textarea>
        <button class="publish-button" id="publish-button">publish</button>
    </div>


    <script>
        const publishButton = document.getElementById('publish-button');

        publishButton.addEventListener('click', function (event) {

            event.preventDefault();

            const post_content = document.getElementById('post-content').value;
            console.log(post_content)

            fetch('', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    content: post_content
                })
            })
                .then(response => response.json())
                .then((response) => {
                    console.log(response)
                    window.location.href = '/posts'
                })
                .catch((error) => {
                    console.error('Error:', error);
                });

        });
    </script>
{% endblock %}
