{% extends 'base_mainpage.html' %}

{% block head %}
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'posts/buttons.css' %}">

{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="header">
                <p style="float:right; margin-right: 10%">{{ post.updated_on }}</p>
            </div>
            <div class="content">
                <p>{{ post.content }}</p>
            </div>
            <div class="footer">
                <p style="margin-left: 10%">likes: {{ post.likes }}</p>

                <button class="posts-button delete" onclick="redirectTo('/posts/delete')">
                    <i class="fas fa-trash"></i>
                </button>
                <button class="posts-button" onclick="redirectTo('/posts/edit')">
                    <i class="fas fa-edit"></i>
                </button>

            </div>
        </div>

    {% endfor %}


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function redirectTo(url) {
            window.location.href = url;
        }


        const editPost = document.getElementById('edit-post');
        editPost.addEventListener('click', function (event) {
            event.preventDefault();
            window.location.href = '/posts/edit';
        });
    </script>

{% endblock %}

<script>
    function convert_date(date_string) {
        var date = new Date(date_string);
        var options = {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric',
            timeZone: 'UTC'
        };
        return date.toLocaleString('en-US', options);
    }


</script>