{% extends 'base_mainpage.html' %}

{% block head %}
    <title>Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'posts/buttons.css' %}">

{% endblock %}

{% block content %}
    <h2 style="color:white">{{ username }}'s posts</h2>
    {% for post in posts %}
        <div class="post">
            <div class="header">
                <p style="float:right; margin-right: 10%">{{ post.updated_on }}</p>
            </div>
            <div class="content">
                <p>{{ post.content }}</p>
            </div>
            <div class="footer">
                <p style="margin-left: 10%">likes: {{ post.likes }}</p>
                <button class="posts-button like" onclick="location.href='{% url 'like_post' post.id %}'">
                    <i class="fas fa-heart"></i>
                </button>
                <button class="posts-button delete" onclick="location.href='{% url 'delete_post' post.id %}'">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </div>

    {% endfor %}
{% endblock %}